<div class="container pb-5">
  <form action='https://forms.zohopublic.com/billsandinfo/form/LeMeneutSignups/formperma/HjE5ak8mM5AF0_1a0bf77D7m7/htmlRecords/submit' name='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'><input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
    <input type="hidden" name="zf_redirect_url" value="https://billsandinfo.github.io">

    <div class="form-group row">
      <div class="col-md-6">
        <label>First Name</label>
        <input class="form-control" type="text" maxlength="255" name="Name_First"/>
      </div>

      <div class="col-md-6 last-name-field">
        <label>Last Name</label>
        <input class="form-control" type="text" maxlength="255" name="Name_Last"/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label>Juilliard Email</label>
        <input class="form-control" type="text" maxlength="255" name="Email" value=""/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
    <label>Phone</label>
    <input class="form-control" type="text" name="PhoneNumber_countrycode" maxlength="20" value=""/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
    <label>Instrument </label>
    <input class="form-control" type="text" name="SingleLine" value="" maxlength="255"/>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
